/* CSS Resets */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
}

.navbar a{
    text-decoration: none;
    color: white;
}

span{
    font-weight: bold;
}

button{
    background-color: rgb(23, 162, 184);
    color: white;
    height: 30px;
    width: 80px;
    border: none;
}

.main{
    display: flex;
    width: 1080px;
    margin: auto;
}

.col-left{
    flex: 2;
}

.col-right{
    flex:1;
}

.card{
    border-style: groove;
    border-top: none;
    margin-bottom: 20px;
    margin-right: 20px;
}

.card-profile-header{
    background-color: rgb(23, 162, 184);
    height: 100px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.card-profile-header img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 40px;
}

.card-profile-info{
    padding-left: 20px;
}

.icon{
    width: 25px;
    margin-right: 10px;
}

.card-profile-info div{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-header{
    background-color: gray;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.card-info span{
    color: gray;
}

.card-info p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.col-right .card .card-header{
    display: flex;
    align-items: center;
}

.col-right .card .card-header p{
    background-color: rgb(204, 195, 195);
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.col-right .card .card-info > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.images-names{
    display: flex;
    align-items: center;
}

.footer-card{
    border-style: groove;
    padding: 20px;
    border-left: none;
    border-bottom: none;
    border-right: none;
}






