*{
    font-family: cursive;
}

h1{
    background-color: black;
    color: white;
}

span{
    color: aqua;
}

h3{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
}

p{
    background-color: rgb(0, 157, 255);
    text-align: right;
    text-decoration: underline;
}